{% extends '@layouts::base.twig' %}

{#
 # Email subject
 # ---
 # Order {{ name }} confirmed
 #}

{# title - start #}
{% block title %}
  {% verbatim %}
    {% capture title %}Your order is confirmed!{% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# title - end #}

{# preview - start #}
{% block preview %}
  {% verbatim %}
    {% capture preview %}
        {% if requires_shipping %}
          <div class="intro-text">
            {% case shipping_method.title %}
              {% when 'Click and Collect — Wellington Store' %}
                <p>Hi {{ customer.first_name }}, <br/>We are safely preparing your order for collection from our Wellington Flagship Store, located at 29 College Street.</p>
                <p>Once your order is ready to collect in-store, we will send you a confirmation email.</p>
              {% when 'Click and Collect — Newmarket Store' %}
                <p>Hi {{ customer.first_name }}, <br/> We are safely preparing your order for collection from our Newmarket Store, located at 6 York Street.</p>
                <p>Once your order is ready to collect in-store, we will send you a confirmation email. Please note that this service may take up to 2-5 working days.</p>
              {% else %}
                <p>Hi {{ customer.first_name }}, <br/> Thank you for your order with us.</p>
                <p>Your order is now being processed, our current dispatch time frame is 1-2 working days. Please note that shipping dates are additional to this dispatch time frame.</p>
            {% endcase %}

            {% if gateway == "Bank Deposit" %}
              <br>
              <p>Hi {{ customer.first_name }}, <br/>If you have chosen the Bank Deposit Option to pay for your purchase, and you haven't transferred funds yet, here are the details of our account: </p>
              <p>Kowtow Clothing Ltd<br>011845-0007401-00</p>
              <p>Your order will be processed after payment has been received.</p>
            {% endif %}
          </div>
        {% endif %}
        
    {% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# preview - end #}

{# content - start #}
{% block content %}
  {% include '@components::local/intro-text.twig' with {
    headline: '{{ title }}',
    text: '{{ preview }}'
  } %}

  {% verbatim %}
    <mj-raw>
      {% if order_status_url %}
    </mj-raw>
  {% endverbatim %}

    {% include '@components::local/actions.twig' with {
      primary: {
        url: '{{ order_status_url }}',
        text: 'VIEW ORDER STATUS'
      }
    } %}

  {% verbatim %}
    <mj-raw>
      {% else %}
    </mj-raw>
  {% endverbatim %}

    {% embed '@components::local/actions.twig' %}
      {% block secondary_outer %}{% endblock %}
    {% endembed %}

  {% verbatim %}
    <mj-raw>
      {% endif %}
    </mj-raw>
  {% endverbatim %}

  <mj-section>
    <mj-column css-class="full-width">
      <mj-divider border-color="{{ style.color['black'] }}" padding="48px 0 40px" />
    </mj-column>
  </mj-section>

  <mj-section padding="{{ padding | default('0 0 20px') }}">
    <mj-column>
      {% block topline_outer %}
        <mj-text
          align="center"
          color="{{ style.color['grey-dark'] }}"
          font-size="16px"
          padding-bottom="20px"
        >
          {% block topline %}
            {{ topline | default('ORDER {{ name }}') }}
            {% verbatim %}
              <br/>
              {% assign current_date = date | date: "%b %d" %}
              {{ current_date }}
            {% endverbatim %}
          {% endblock %}
        </mj-text>
      {% endblock %}
    </mj-column>
  </mj-section>

  {% include '@components::local/gift-card-notice.twig' %}

  {# {% include '@components::local/headline.twig' with {
    headline: 'Order summery',
    padding: '20px 0 5px'
  } %} #}

  <mj-wrapper>
    <mj-raw>
      {{ development
        ? '{% for line in line_items %}{% for i in (1..2) %}'
        : '{% for line in subtotal_line_items %}'
      }}
    </mj-raw>

      {% include '@components::local/product.twig' %}

    <mj-raw>
      {{ development
        ? '{% endfor %}{% endfor %}'
        : '{% endfor %}'
      }}
    </mj-raw>
  </mj-wrapper>

  {% embed '@components::local/totals.twig' %}
    {% block outstanding %}{% endblock %}
  {% endembed %}

  <mj-section>
    <mj-column>
      <mj-spacer height="25px" />
    </mj-column>
  </mj-section>

  {% include '@components::local/payment-method.twig' %}

  {# <mj-section>
    <mj-column>
      <mj-spacer height="50px" />
    </mj-column>
  </mj-section> #}

  {% include '@components::local/customer-information.twig' %}
  <mj-section>
    <mj-column css-class="full-width">
      <mj-divider border-color="{{ style.color['black'] }}" padding="24px 0 16px" />
    </mj-column>
  </mj-section>
  {% include '@components::local/faq.twig' %}
{% endblock %}
{# content - end #}

{# footer - start #}
{# {% block footer %}
  {{ parent() }}

  {% if production %}
    <mj-raw>
      {% verbatim %}
        {% if shop.terms_of_service.body != blank %}
          {{ shop.terms_of_service | attach_as_pdf: "Terms of Service" }}
        {% endif %}

        {% if shop.refund_policy.body != blank %}
          {{ shop.refund_policy | attach_as_pdf: "Refund Policy" }}
        {% endif %}
      {% endverbatim %}
    </mj-raw>
  {% endif %}
{% endblock %} #}
{# footer - end #}