{% block payment_method_outer %}
  {% verbatim %}
    <mj-raw>
      {% assign transaction_count = transactions | size %}
      {% if transaction_count > 0 %}
    </mj-raw>
  {% endverbatim %}

    <mj-section>
			<mj-column>
				<mj-divider border-color="{{ style.color['grey'] }}" padding="0 0 16px" />
			</mj-column>
		</mj-section>

    <mj-section padding-bottom="30px">
      <mj-column>
        <mj-text
          font-size="14px"
          font-weight="700"
          color="{{ style.color['grey-dark'] }}"
          padding-bottom="5px"
        >
          {% block payment_method_headline %}
            {{ payment_method_headline | default('Payment method') }}
          {% endblock %}
        </mj-text>

        {% verbatim %}
          <mj-raw>
            {% for transaction in transactions %}
              {% if transaction.status == 'success' or transaction.status == 'pending' %}
                {% if transaction.kind == 'authorization' or transaction.kind == 'sale' %}
          </mj-raw>
        {% endverbatim %}

          <mj-text
            font-size="14px"
            line-height="1.7"
            color="{{ style.color['grey-dark'] }}"
            padding-bottom="5px"
          >
            {% block payment_method %}
              {% verbatim %}
                {% if transaction.payment_details.credit_card_company %}
                  {% capture credit_card_url %}notifications/{{ transaction.payment_details.credit_card_company | downcase | replace: ' ', '_' }}.png{% endcapture %}

                  <img
                    src="{{ credit_card_url | shopify_asset_url }}"
                    width="38"
                    height="24"
                    style="vertical-align: text-top; padding-right: 5px;"
                  >

                  Ending in {{ transaction.payment_details.credit_card_last_four_digits }} — <strong>{{ transaction.amount | money }}</strong>
                {% elsif transaction.gateway_display_name == 'Gift card' %}
                  <img
                    src="{{ 'notifications/gift-card.png' | shopify_asset_url }}"
                    width="38"
                    height="24"
                    style="vertical-align: text-top; padding-right: 5px;"
                  >

                  Ending in {{ transaction.payment_details.gift_card.last_four_characters | upcase }} — <strong>{{ transaction.amount | money }}</strong> <span style="font-size: 14px;">(Gift card balance: {{ transaction.payment_details.gift_card.balance | money }})</span>
                {% else %}
                  {{ transaction.gateway_display_name }} — <strong>{{ transaction.amount | money }}</strong>
                {% endif %}
              {% endverbatim %}
            {% endblock %}
          </mj-text>

        {% verbatim %}
          <mj-raw>
                {% endif %}
              {% endif %}
            {% endfor %}
          </mj-raw>
        {% endverbatim %}
      </mj-column>
    </mj-section>

  {% verbatim %}
    <mj-raw>
      {% endif %}
    </mj-raw>
  {% endverbatim %}
{% endblock %}